[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflect = "*"
humanize = "*"
ffmpeg = "*"
ffmpeg-python = "*"
numpy = "*"
pydantic = "*"
eyed3 = "*"
# tinta = {file = "../tinta", editable = true}
tinta = "*"
python-dotenv = "*"
columnar = "*"

[dev-packages]
ruff = "*"
black = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true

[scripts]
app = "python src -l 1"
forever = "python src -l -1"
docker = "python -u src -l -1"
tests = "python -m pytest -c pyproject.toml"
